 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
         <div class="row">
           
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                 <i>Below are my current skill sets. I am passionate about learning new knowledge. The lists will grow as I explore more.</i>              
             </div>
            </div>
        <div class="col-lg-7 text-left">
         <br>
              <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Front End Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">I can design web elements and wireframes with Adobe Creative Suite, 
      able to transfer Adobe Photoshop graphic designs into static or dynamic functional websites by pure hand coding with PHP, HTML, CSS, 
     JavaScript, Ajax, jQuery and JSON. I am skilled at BootStrap. I emphasize on good planning of User Interface (UI) to bring cohesive
      User Experience (UX). I develop websites that are responsive, always optimally usable on various device, operating system and web browser.     
</p>
     </div>
    </div>
<br>
    <div class="panel panel-primary">
      <div class="panel-heading">Custom PHP Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">I have in-depth knowledge of PHP, LAMP (Linux, Apache, MySQL, PHP). I am also familiar with 
      PHP frameworks (CodeIgniter, Laravel). I am fully capable of developing custom solution in accordance with specific business 
      requirements. I have created customized web applications with unique features and complex functionalities. 
      I can deliver robust solution that can integrate multiple databases from various resources (MySQL, MS SQL, Oracle PeopleSoft, Progress, API).</p>
     </div>
    </div>
<br>
    <div class="panel panel-primary">
      <div class="panel-heading">Custom CMS Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
      I have done a ton of work with content management systems (WordPress, Drupal, Joomla, Moodle, REDCap, Adobe Expression Engine, Adobe Business Catalyst), whether it’s 
      finding the right solution with a pre-built theme to get small website up fast, or when out-of-the-box functionality isn't enough, I could deliver something truly custom. 
      I can develop customized websites from the ground up. I have implemented customized themes, plug-ins, shortcodes and modules. 
     </p>
     </div></div>
<br>             
    <div class="panel panel-primary">
      <div class="panel-heading">Custom E-Commerce Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    I have worked with various E-commerce systems (WooCommerce, X-Cart, Open-Cart). From installation and configuration, 
      to store template customization, to secure payment gateway integration, I can get the online business store up and running. 
      I have also added custom functionality to extend the capability of existing online store.
      </p></div>
    </div>
  </div>
          </div>
            
          <div class="col-lg-5 text-center">
           <hr>
                  <div class="row">
                   <h4><u>Front End</u></h4>                 
                    <div class="col-lg-2"><small>HTML </small></div>
                    <div class="col-lg-2"><small>CSS </small></div>
                    <div class="col-lg-2"><small>BootStrap</small></div>
                    <div class="col-lg-2"><small>JavaScript</small></div>
                    <div class="col-lg-2"><small>AJax</small></div>
                    <div class="col-lg-2"><small>jQuery</small></div>               
              
                 </div>
                 <hr>  
       
           <div class="row">
            <h4><u>PHP</u></h4> 
                    <div class="col-lg-4"><small>PHP</small></div>   
                    <div class="col-lg-4"><small>CodeIgniter</small></div>
                    <div class="col-lg-4"><small>Laravel</small></div>                               
                                                 
                               
         </div>
                
         <hr>  
           
              <div class="row">
                <h4><u>Content Management System</u></h4>                 
                    <div class="col-lg-2"><small>WordPress</small></div>
                    <div class="col-lg-2"><small>Drupal</small></div>
                    <div class="col-lg-2"><small>Joomla</small></div>
                    <div class="col-lg-2"><small>REDCap</small></div>
                    <div class="col-lg-4"><small>Moodle</small></div>
                    
                 </div>
                 <hr>  
           <div class="row">
            <h4><u>E-Commerce</u></h4>                  
                    <div class="col-lg-4"><small>WooCommerce</small></div>
                    <div class="col-lg-4"><small>Open Cart</small></div>
                    <div class="col-lg-4"><small>X-Cart</small></div>                               
                                 
                       
         </div>
                <hr>   
            
                                  
                   <div class="row">
                    <h4><u>Database</u></h4>                   
                    <div class="col-lg-2"><small>MySQL</small></div>
                    <div class="col-lg-3"><small>Microsoft SQL</small></div>
                    <div class="col-lg-3"><small>PeopleSoft</small></div> 
                      <div class="col-lg-2"><small>Progress</small></div> 
                      <div class="col-lg-2"><small>Access</small></div> 
                     
         </div>
         <hr>  
                  <div class="row">
                   <h4><u>Web Server</u></h4> 
               
                    <div class="col-lg-2"><small>Ubuntu</small> </div>
                   <div class="col-lg-2"><small>CentOS</small></div>
                     <div class="col-lg-2"><small>AWS</small></div>
                      <div class="col-lg-2"><small>Docker</small></div>
                    <div class="col-lg-2"><small>Apache</small></div>
                 <div class="col-lg-2"><small>cPanel</small></div>               
                             
         </div>
             <hr>     
              <div class="row">
               <h4><u>Version Control</u></h4>                 
                   <div class="col-lg-3"><small>Git</small></div>
                    <div class="col-lg-3"><small>GitHub</small></div>
                <div class="col-lg-3"><small>Git Lab</small></div>
                    <div class="col-lg-3"><small>BitBucket</small></div>
              </div>
             <hr>  
           <div class="row">
               <h4><u>API</u></h4>                 
                   <div class="col-lg-3"><small>REST</small></div>
                    <div class="col-lg-3"><small>SOAP</small></div>
                <div class="col-lg-3"><small>LDAP</small></div>
                    <div class="col-lg-3"><small>OAuth</small></div>
              </div>
             <hr>  
                  <div class="row">
                   <h4><u>Other Tools</u></h4> 
                     <div  class="col-lg-2"><small>Shell</small></div>                  
                     <div class="col-lg-1"><small>Jira</small></div> 
                     <div class="col-lg-4"><small>Adobe Creative Suite</small></div>
                    <div class="col-lg-1"><small>Boomi</small></div> 
                   <div class="col-lg-2"><small>Tableau</small></div>
                   <div class="col-lg-2"><small>Salesforce</small></div>  
                  
                   
                               
            </div> 
             <hr>  
         </div> 
                
        </div>   
                    
        </div>
    </section>
