 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
         <div class="row">
           
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                 <i>Below are my current skill sets. I am passionate about learning new knowledge. The lists will grow as I explore more.</i>              
             </div>
            </div>
        <div class="col-lg-12 text-left">
         <br>
              <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Front End Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">I can design web elements and wireframes with Adobe Creative Suite, 
      able to transfer Adobe Photoshop graphic designs into static or dynamic functional websites by pure hand coding with PHP, HTML, CSS, 
     JavaScript, Ajax, jQuery and JSON. I am skilled at BootStrap. I emphasize on good planning of User Interface (UI) to bring cohesive
      User Experience (UX). I develop websites that are responsive, always optimally usable on various device, operating system and web browser.     
</p>
     </div>
    </div>
<br>
    <div class="panel panel-primary">
      <div class="panel-heading">PHP Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">I have in-depth knowledge of PHP, LAMP (Linux, Apache, MySQL, PHP). I am familiar with 
      PHP frameworks (CodeIgniter, Laravel). I can develop customized solution in accordance with specific business 
      requirements. I have created web applications with unique features and complex functionalities. 
      I can deliver robust solution that can integrate multiple databases from various resources (MySQL, MS SQL, Oracle PeopleSoft, Progress, API).</p>
     </div>
    </div>
<br>
                <div class="panel panel-primary">
      <div class="panel-heading">WordPress Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
      I am an experienced WordPress developer. I have a deep understanding of the WordPress core and Codex. I can develop customized WordPress solutions through coding: themes, child themes, plugins, templates, shortcodes.    
       I can set up many popular plugins and know features in multilingual, WooCommerce, multisite, webhooks, integrations with 3rd party services. I have experience with
      page builders and block editor (WPBakery, Elementor, Gutenberg). I have managed websites within WordPress central hosting platform (WPEngine).
     </p>
     </div></div>
<br>            
               
    <div class="panel panel-primary">
      <div class="panel-heading">Platform Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
     Over the years, I have worked on different projects involving different tools, which led me to have experience in Content Management System (WordPress, Drupal, Joomla, Concrete5, Adobe Expression Engine, Adobe Business Catalyst), 
      Learning Management System (Moodle), Customer Relationship Management System (SalesForce), Business Intelligence System (Tableau), Survey System (REDCap), Online Adaptive Test Platform (Concerto). I am not 
      afraid to step out into something different, I always refresh my skills segueing into other skills.
       <br>
     </p>
     </div></div>
<br>
               
        
               <br>            
               
    <div class="panel panel-primary">
      <div class="panel-heading">Database</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
     I have worked with different kinds of relational databases: MySQL, SQL Server, Oracle (PeopleSoft), MS Access. I am adept at developing database themes, and writing SQL 
      queries, stored procedures, functions. I have built dashboards with Tableau for reporting and data analytics. I am able to integrate information throughout 
      internal and external systems using various methods: writing customized codes in PHP to import and export; setting up and scheduling SQR and queries in Oracle, 
      or utilizing ETL tools (Microsoft SQL Server Integration Services - SSIS, Dell Boomi). <a href="img/reward/boomiLO.jpg"  style="color: #18bc9c" target="_blank">
       I have achieved professional developer certification in Dell Boomi.</a>
     
       <br>
     </p>
     </div></div>
<br>    
        <div class="panel panel-primary">
      <div class="panel-heading">API and Web Service</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    I am proficient in API development. I have produced and consumed web services using different protocols: REST API (using CURL, JSON), SOAP (using WSDL, XML). 
     I have developed web services in PHP to retrieve, update, and delete records, to interact with third party applications. I am familiar with Authentication Protocol 
      (OAuth and LDAP). 
       <br>
     </p>
     </div></div>
<br>      
                          <br>            
               
    <div class="panel panel-primary">
      <div class="panel-heading">Web Server Administration</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    I have a solid understanding of Linux structure and server architecture. I have extensive development experience within Linux systems (Ubuntu, CentOS/RedHat), 
      especially with LAMP stack (Linux, Apache, MySQL, PHP). I use shell scripts/bash commands frequently.  I am familiar with
      installing packages, configuring server settings,  scheduling cron jobs, troubleshooting through logs, creating firewall rules, setting up SSL certificates.       
      I have used Docker containers for development. I track and deploy source codes through Git/Bitbucket/GitHub/GitLab.
      I have managed websites hosting through Amazon AWS (EC2, Lightsail, S3, RDS).    
       I have administrated websites through various hosting plans: shared hosting, virtual private server (VPS), or dedicated server.
       I am proficient in all aspects of web administration, from domain registration, domain transfer, DNS records configuration, to server management
      through WHM (Web Host Manager) and cPanel.
      
       <br>
     </p>
     </div></div>
<br>    
           
    <div class="panel panel-primary">
      <div class="panel-heading">Custom E-Commerce Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    I have worked with E-commerce systems (WooCommerce, X-Cart, Open-Cart). From installation and configuration, 
      to store template customization, to secure payment gateway integration, I can get the online business store up and running. 
      I have also added custom functionality to extend the capability of existing online store.
      </p></div>
    </div>
  </div>
          </div>
 
                
        </div>   
                    
        </div>
    </section>
