 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
         <div class="row">
           
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                 <i>Below are my current skill sets. I am passionate about learning new knowledge. The lists will grow as I explore more.</i>              
             </div>
            </div>
        <div class="col-lg-12 text-left">
         <br>
              <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">Front End Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">I can design web elements and wireframes with Adobe Creative Suite, 
      able to transfer Adobe Photoshop graphic designs into static or dynamic functional websites by pure hand coding with PHP, HTML, CSS, 
     JavaScript, Ajax, jQuery and JSON. I am skilled at BootStrap. I emphasize on good planning of User Interface (UI) to bring cohesive
      User Experience (UX). I develop websites that are responsive, always optimally usable on various device, operating system and web browser.     
</p>
     </div>
    </div>
<br>
    <div class="panel panel-primary">
      <div class="panel-heading">PHP Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">I have in-depth knowledge of PHP, LAMP (Linux, Apache, MySQL, PHP). I am also familiar with 
      PHP frameworks (CodeIgniter, Laravel). I am fully capable of developing custom solution in accordance with specific business 
      requirements. I have created customized web applications with unique features and complex functionalities. 
      I can deliver robust solution that can integrate multiple databases from various resources (MySQL, MS SQL, Oracle PeopleSoft, Progress, API).</p>
     </div>
    </div>
<br>
                <div class="panel panel-primary">
      <div class="panel-heading">WordPress Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
      I am an experienced WordPress developer. I have a deep understanding of the WordPress core and Codex. I have done a ton of customized WordPress development through coding: creating custom WordPress themes, child themes, plugins, templates, shortcodes.    
       I can set up many popular plugins and know features in multilingual, WooCommerce, multisite, webhooks, integrations with 3rd party services. I have experience with
      page builders and block editor, such as WPBakery, Elementor, Gutenberg. I am familiar with WordPress central hosting platform (WPEngine).
     </p>
     </div></div>
<br>            
               
    <div class="panel panel-primary">
      <div class="panel-heading">CMS Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
     Over the years, I have worked on different projects involving different tools, which led me to have experience in Content Management System (WordPress, Drupal, Joomla, Concrete5, Adobe Expression Engine, Adobe Business Catalyst), 
      Learning management system (Moodle), Survey system (REDCap), Online Adaptive Test Platform (Concerto). I am not afraid to step out into 
      something different, and I am able to reinvent myself each time. I always refresh my skills segueing into other skills.
       <br>
     </p>
     </div></div>
<br>
               
        
               <br>            
               
    <div class="panel panel-primary">
      <div class="panel-heading">Database</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
     Worked with different kinds of relational databases: MySQL, SQL Server, Oracle (PeopleSoft), MS Access. Developed application database themes and architectures. 
      Wrote SQL queries, stored procedures, and functions. Built dashboards with Tableau for reporting and data analytics. Integrated information throughout 
      internal and external systems through different methods: writing customized codes in PHP to import and export; setting up and scheduling SQR and queries in Oracle, 
      or using ETL tools (Dell Boomi, Microsoft SQL Server Integration Services - SSIS). <a href="img/reward/boomiLO.jpg"  style="color: #18bc9c" target="_blank">
       Achieved professional developer certification in Dell Boomi</a>
       <br>
     </p>
     </div></div>
<br>    
        <div class="panel panel-primary">
      <div class="panel-heading">API and Web Service</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    Familiar with API development. Produced and consumed web services using different protocols: REST API (using CURL, JSON), SOAP (using WSDL, XML). 
      Developed web services in PHP to retrieve, update, and delete records, to interact with third party applications.
Familiar with Authentication Protocol (OAuth and LDAP). 
       <br>
     </p>
     </div></div>
<br>      
                          <br>            
               
    <div class="panel panel-primary">
      <div class="panel-heading">Web Server Administration</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    Familiar with Linux systems (Ubuntu, CentOS/RedHat). Familiar with LAMP stack (Linux, Apache, MySQL, PHP).  Use bash commands frequently. 
Experienced with cloud infrastructure on Amazon AWS (EC2, Lightsail,  S3, RDS). Experienced with Docker.
Experienced in web server administration:  install packages, configure servers, use Composer, schedule cron jobs, troubleshoot through logs, 
create firewall rules, set up SSL certificates. Used Git and Bitbucket to track and deploy source codes. 
Handled web server management and website administration tasks: Coordinated hosting and domain registrations; DNS changes and registrar transfers; 
Managed dedicated Virtual Private Server using Web Host Manager and cPanel.

       <br>
     </p>
     </div></div>
<br>    
           
    <div class="panel panel-primary">
      <div class="panel-heading">Custom E-Commerce Development</div>
     <div class="panel-body"><p style="color:#233140; font-size:16px;">
    I have worked with E-commerce systems (WooCommerce, X-Cart, Open-Cart). From installation and configuration, 
      to store template customization, to secure payment gateway integration, I can get the online business store up and running. 
      I have also added custom functionality to extend the capability of existing online store.
      </p></div>
    </div>
  </div>
          </div>
 
                
        </div>   
                    
        </div>
    </section>
