    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">              
                <div class="col-lg-12 text-left">
				<p>I am a full stack web developer with extensive web design and development experience.  
				I can implement entire website from scratch, covering both front end and back end, by using PHP or PHP frameworks (CodeIgniter, Laravel), 
					HTML, CSS, BootStrap, JavaScript, Ajax, JSON, and jQuery in LAMP (Linux, Apache, MySQL, PHP) environment. 
					I have expertise in a wide range of technologies to build dynamic websites: Content Management System (WordPress, Drupal, Joomla, Concrete5, 
					Adobe Expression Engine, Adobe Business Catalyst), Learning management system (Moodle), Survey system (REDCap), Online Adaptive Test Platform (Concerto) 
					. I specialize in WordPress, I have worked on a variety of websites for different clients, whether it’s finding the right solution with a pre-built theme to get small website up fast, 
					or when out-of-the-box functionality isn't enough, I have delivered something truly custom. I have worked through the 
					whole life cycle for dozens of web projects. The tasks that I perform cross many boundaries, 
					which include: domain registration, web hosting, graphic and interface design (UI/UX), 	
					database architect design, front end and back end coding, web server administration, search engine optimization.
					Whatever the project demands, I can deliver it, on time and with high quality.</p>
		</div>
		   </div>   
		 </div>	    
		 <div class="row"><div class="col-sm-12">
                         <div class="col-sm-3  text-center">
                                <a href="img/reward/award2.png" class="btn btn-sm btn-outline" target="_blank">
                                 <i class="fas fa-medal"></i> Chancellor Citation Award </a>
                         </div>
                       <div class="col-sm-3 text-center">
                                 <a href="img/reward/award3.png" class="btn btn-sm btn-outline" target="_blank">
                                 <i class="fas fa-award"></i> Think Out of Box Award </a>
                         </div>
			   <div class="col-sm-2   text-center">
                               <a href="img/reward/boomiLO.jpg"  class="btn btn-sm btn-outline" target="_blank">      
<i class="fas fa-certificate"></i> Boomi Certification </a>
                        </div>
			   <div class="col-sm-2   text-center">
                                 <a href="img/reward/AwardAD.pdf" class="btn btn-sm btn-outline" target="_blank">
                                 <i class="fas fa-trophy"></i> Bronze Ad Award </a>
 			</div>	
			   
                       <div class="col-sm-2   text-center">
                                <a href="img/reward/award1.png" class="btn btn-sm btn-outline" target="_blank">
                                 <i class="fas fa-comment-dots"></i> Testimonial</a>
                        </div>
			  </div> 
                       </div>
		                       
               
          

	    
    </header>
